{
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "airbnb-typescript",
    "plugin:react/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "next"
  ],
  "parserOptions": {
    "project": "./client/tsconfig.json",
    "ecmaVersion": "latest"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "rules": {
        // "eslint-plugin-import/extensions": ["warn", "always",{"ignorePackages": false}],
        "import/extensions": ["warn", "always",{"ignorePackages": true}],
        "lines-around-directive": "off",
        "consistent-return": "off",
        "no-console": "warn",
        "no-var": "warn",
        "prefer-const": "warn",
        "no-const-assign": "error",
        "indent": ["warn", 2],
        "quotes": ["warn", "double"],
        "max-len": ["warn", 80],
        "no-new": "off"
      }
    }
  ],
  "plugins": ["prettier"]
}
