@tailwind base;
@tailwind components;
@tailwind utilities;

$textColor: #fff;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  // overflow: hidden;
  color: $textColor;
  height: 100vh;
  background: #0a2640;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
